/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
//メインコンテンツ
.site_main {
  padding: 70px 20px 0;
  padding: 70px 0 0;
}
@include res_min( $break ) {
  .site_main {
    padding: 100px 0 0;
  }
}


// section + inner
.sec {
  padding-left: 20px;
  padding-right: 20px;
  &:first-of-type {
    margin-top: 40px;
  }
}
@include res_min( $break ) {
  .sec {
    padding-left: 0;
    padding-right: 0;

    .inner_small {
      @include maxW($break2);
    }
    .inner_medium {
      @include maxW();
    }
    .inner_wide {
      padding-left: 4%;
      padding-right: 4%;
    }

    &:first-of-type {
      margin-top: 55px;
    }
  }
}


// layout
@include res_min( $break ) {
  .layout_wrap1 {
    @include flex(nowrap, space-between, stretch);

    .layout_head {
      flex-basis: 28%;
    }
    .layout_body {
      flex-basis: 72%;
    }
  }

  .layout_head {
    .contents_title {
      text-align: left;
    }
    .button_wrap {
      margin-top: 37px;
    }
    .button {
      margin-left: 0;
      margin-right: auto;
    }
  }
}


// ページタイトル
.page_header {
  padding-top: 36px;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    width: 100%;
    height: 70px;
    background-image: url(./assets/img/common/bg_page_title.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .page_header_title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    color: $mainColor;
    @include maxW();
    span {
      display: block;
      font-family: $ff-en;
      font-size: 4rem;
      font-weight: 400;
    }
  }
}
@include res_min( $break ) {
  .page_header {
    padding-top: 88px;
    &::before {
      height: 140px;
    }
    .page_header_title {
      span {
        font-size: 6.4rem;
      }
    }
  }
}


// title
.contents_title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  color: $mainColor;
  span {
    display: block;
    font-family: $ff-en;
    font-size: 4rem;
    font-weight: 400;
  }
}
@include res_min( $break ) {
  .contents_title {
    span {
      font-size: 6.4rem;
    }
  }
}


// コンテンツリード
.contents_leading {
  padding-top: 25px;
  text-align: center;
}
@include res_min( $break ) {
  .contents_leading {
    padding-top: 50px;
    font-size: 1.8rem;
    line-height: 2.333;
  }
}


// ラベル
.label01,
.label02 {
  display: inline-block;
  padding: 1px 7px;
  font-size: 1.2rem;
  line-height: 1.4;
  border-radius: 3px;
}
.label01 {
  border: 1px solid #43647A;
  color: #43647A;
}
.label02 {
  background-color: #43647A;
  color: #fff;
}


// 注釈
.note {
  position: relative;
  padding-left: 1.1em;
  margin-top: .5em;
  line-height: 1.5;
  &::before {
    content: '・';
    position: absolute;
    left: 0;
    top: 0;
  }
}

// マーカー
.marker {
  background-color: #FFE2D9;
  padding: 0 .3em;
  margin: 0 .3em;
}


// アンカーリンク
.anchor {
  display: block;
  padding-top: 40px;
  margin-top: -40px;
}
@include res_min( $break ) {
  .anchor {
    padding-top: 80px;
    margin-top: -80px;
  }
}