/* ----------------------------------------------------------------
  各ページ共通
---------------------------------------------------------------- */
.screen-reader-text {
  display: none;
}


//メインコンテンツ
.site_main {
  padding: 70px 0 0;
}
@include res_min( $break ) {
  .site_main {
    padding: 100px 0 0;
  }
}


// section + inner
.sec {
  padding: 30px 20px;
  &:last-of-type {
    padding-bottom: 0;
  }

  // 下層のsec一番上の設定
  .page-header + & {
    padding-top: 40px;
  }
}
@include res_min( $break ) {
  .sec {
    padding: 100px 0;
    &:last-of-type {
      padding-bottom: 0;
    }

    // 下層のsec一番上の設定
    .page-header + & {
      padding-top: 80px;
    }

    .inner-small {
      @include maxW($break2);
    }
    .inner-medium {
      @include maxW();
    }
    .inner-wide {
      padding-left: 4%;
      padding-right: 4%;
    }
  }
}


// layout
@include res_min( $break ) {
  .layout-wrap1 {
    @include flex(nowrap, space-between, stretch);

    .layout-head {
      flex-basis: 28%;
    }
    .layout-body {
      flex-basis: 72%;
    }
  }

  .layout-head {
    .contents-title {
      text-align: left;
    }
    .button-wrap {
      margin-top: 37px;
    }
    .button {
      margin-left: 0;
      margin-right: auto;
    }
  }
}


// ページタイトル
.page-header {
  padding-top: 36px;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    width: 100%;
    height: 70px;
    background-image: url(./assets/img/common/bg_page_title.jpg);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .page-header__title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.4;
    color: $mainColor;
    @include maxW();
    span {
      display: block;
      font-family: $ff-en;
      font-size: 4rem;
      font-weight: 400;
    }
  }
}
@include res_min( $break ) {
  .page-header {
    padding-top: 88px;
    &::before {
      height: 140px;
    }
    .page-header__title {
      span {
        font-size: 6.4rem;
      }
    }
  }
}


// title
.contents-title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  color: $mainColor;
  span {
    display: block;
    font-family: $ff-en;
    font-size: 4rem;
    font-weight: 400;
  }
}
@include res_min( $break ) {
  .contents-title {
    span {
      font-size: 6.4rem;
    }
  }
}

.contents-title--small {
  margin: 2em 0 1em;
  font-size: 2rem;
  font-weight: 600;
  color: $mainColor;
}
@include res_min( $break ) {
  .contents-title--small {
    font-size: 2.4rem;
  }
}


// コンテンツリード
.contents-leading {
  padding-top: 25px;
  text-align: center;
}
@include res_min( $break ) {
  .contents-leading {
    padding-top: 50px;
    font-size: 1.8rem;
    line-height: 2.333;
  }
}


// ラベル
.label01,
.label02 {
  display: inline-block;
  padding: 1px 7px;
  font-size: 1.2rem;
  line-height: 1.4;
  border-radius: 3px;
}
.label01 {
  border: 1px solid #43647A;
  color: #43647A;
}
.label02 {
  background-color: #43647A;
  color: #fff;
}


// 注釈
.note {
  position: relative;
  padding-left: 1.1em;
  margin-top: .5em;
  line-height: 1.5;
  &::before {
    content: '・';
    position: absolute;
    left: 0;
    top: 0;
  }
}


// マーカー
.marker {
  background-color: #FFE2D9;
  padding: 0 .3em;
  margin: 0 .3em;
}


// アンカーリンク
.anchor {
  display: block;
  padding-top: 40px;
  margin-top: -40px;
}
@include res_min( $break ) {
  .anchor {
    padding-top: 80px;
    margin-top: -80px;
  }
}


// page top
.page-top {
  width: 12px;
  height: auto;
  position: fixed;
  right: 15px;
  bottom: 65px;
  opacity: 0;
  z-index: 9999;
  transition: opacity 0.5s ease;
  &:hover {
    opacity: 0.7 !important;
  }
  // アクティブ
  &.is-active {
    opacity: 1;
  }
}
@include res_min( $break ) {
  .page-top {
    right: 20px;
    bottom: 25px;
  }
}


// パンくず
.breadcrumb-navi {
  margin: 50px auto 15px;
  @include maxW();
  .breadcrumb-navi__item {
    font-size: 1.2rem;
    &:not(:last-of-type) {
      &::after {
        content: '';
        width: 4px;
        height: 4px;
        display: block;
        margin: 8px 0;
        background-color: #6B8CA2;
        border-radius: 50%;
      }
    }
    .breadcrumb-navi__item__text {
      color: #6B8CA2;
    }
    .breadcrumb-navi__item__link {
      &:link, &:visited {
        .breadcrumb-navi__item__text {
          color: $mainColor;
        }
      }
      &:hover, &:active {
        .breadcrumb-navi__item__text {
          text-decoration: underline;
        }
      }
    }
  }
}
@include res_min( $break ) {
  .breadcrumb-navi {
    margin: 75px auto 15px;
    .breadcrumb-navi__lists {
      @include flex(wrap, flex-start, stretch);
    }
    .breadcrumb-navi__item {
      &:not(:last-of-type) {
        &::after {
          width: 7px;
          height: 7px;
          display: inline-block;
          margin: 0 18px 1px;
          background-color: #6B8CA2;
        }
      }
    }
  }
}