// ----------------------------------------------------------------
// the_content(); で吐き出される投稿箇所
// ----------------------------------------------------------------

// 共通
.post-body {

  * {
    line-height: 2;
  }

  // 見出し
  // h1, h2, h3, h4, h5, h6 {
  //   font-weight: 400;
  //   line-height: 1.5;
  //   &:not(:first-of-type) {
  //     margin-top: 1em;
  //   }
  // }
  // h1 {font-size: 2.8rem;}
  // h2 {
  //   margin-top: 2em;
  //   padding-bottom: 0.5em;
  //   font-size: 2.5rem;
  //   color: #886239;
  //   border-bottom: 1px solid #886239;
  //   @include res_min() {
  //     margin-top: 3em;
  //     font-size: 3rem;
  //   }
  // }
  // h3 {
  //   margin-top: 2em;
  //   font-size: 2rem;
  //   color: #958275;
  //   @include res_min() {
  //     margin-top: 3em;
  //     font-size: 2.4rem;
  //   }
  // }
  // h4 { font-size: 1.6rem; }
  // h5 { font-size: 1.6rem; }
  // h6 { font-size: 1.6rem; }

  // 段落
  p {
    font-size: inherit;
  }

  // リンク
  a {
    &:link,
    &:visited {
      color: #1484db;
    }
    &:hover,
    &:active {
      // color: $c-hover;
    }
  }

  // 画像
  img,
  svg {
    width: auto;
    height: auto;
    max-width: 100%;
    margin: 2em 0;
    vertical-align: bottom;
  }
  .wp-block-image figure {
    img,
    svg {
      width: auto !important;
      height: auto !important;
      max-width: 100%;
      margin: 2em 0;
      vertical-align: bottom;
    }
  }
  figure {
    margin: 2em auto;
    img,
    svg {
      margin: 0;
    }
    figcaption {
      margin: 0;
      font-size: 85%;
      line-height: 1.5;
    }
  }

  // 回り込み
  .alignnone {}
  .alignleft {}
  .aligncenter {}
  .alignright {}

  // 回り込み解除(clearfix)
  .alignleft:before,
  .alignleft:after,
  .alignrightalignright:before,
  .alignright:after {
    display: table;
    content: ' ';
  }
  .alignleft:after,
  .alignrightalignright:after {
    clear: both;
  }
  .alignleft,
  .alignright {
    *zoom: 1;
  }

  // リスト
  ul,
  ol {
    margin: 2em 0;
    padding: 0;
    padding-left: 1.5em;
  }
  ul {
    list-style: disc outside;
  }
  ol {
    list-style: decimal outside;
  }
  ul li,
  ol li {
  }

  dl {
    margin: 2em 0;
  }
  dl dt {
    margin-bottom: .5em;
  }
  dl dd {
    margin-bottom: .5em;
  }
  dl,
  dl dt,
  dl dd {
    &:last-child {
      margin-bottom: 0;
    }
  }

  // リストのネスト
  ul ul,
  ul ol,
  ul dl,
  ol ol,
  ol ul,
  ol dl,
  dl dl,
  dl ul,
  dl ol {
    margin: 2em 1em;
  }

  // テーブル
  table {
    margin: 2em 0;
    width: auto;
    max-width: 100%;
  }
  th,
  td {
    padding: 0.7em 0.8em;
    border: 1px solid #b3b3b3;
    background: #f6f6f6;
    line-height: 1.5em;
  }
  td {
    background: #fdfdfd;
  }

  // iframe
  iframe {
    margin: 2em auto;
    max-width: 100%;
  }

  // その他装飾
  strong {
    font-weight: 600;
    font-style: normal;
    color: $baseColor;
  }
  em {
    font-weight: 600;
    font-style: italic;
    color: $baseColor;
  }
  pre {
    margin: 2em 0;
    padding: 1em 1.5em;
    background: #ededed;
    white-space: pre-wrap;
  }
  hr {
    border: 1px solid #ccc;
  }
  blockquote {
    padding: 1em 1.5em;
    color: #555;
    font-style: italic;
  }
  blockquote cite:before {
    margin: 0 1em;
    color: #999;
    content: '─';
  }

}


// ----------------------------------------------------------------
// ブロックエディタで付与されるクラスのスタイルを上書き
// ----------------------------------------------------------------