  /* -----------------------------------------
// リセット
// ---------------------------------------*/
input[type="text"],
input[type="password"],
textarea,
select {
 outline: none;
}
// ie11のinputに出る×印を消す
input[type=text]::-ms-clear,
input[type=password]::-ms-reveal {
  display: none;
}
// iOSでinputが角丸になるのを防止
input[type="button"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
}
//プレースホルダーの色
$phcolor: #6B8CA2;
$phweight: 400;
:placeholder-shown {
  color: $phcolor !important;
  font-weight: $phweight !important;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
  color: $phcolor !important;
  font-weight: $phweight !important;
}
/* Firefox 18- */
:-moz-placeholder {
  color: $phcolor !important;
  font-weight: $phweight !important;
  opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: $phcolor !important;
  font-weight: $phweight !important;
  opacity: 1;
}
/* IE 10+ */
:-ms-input-placeholder {
  color: $phcolor !important;
  font-weight: $phweight !important;
}


/* -----------------------------------------
// 基本設定
// ---------------------------------------*/
form {
  padding: 0;
  margin: 0;
  p {
    margin: 0;
  }
}
label {}
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: inherit;
  padding: 11px 15px;
  @include res_min() {
    padding: 11px 20px;
  }
  // border: 1px solid #DFDFDF;
  border: none;
  background-color: #F1F5FA;
  &:focus {
    // outline: none;
    // border: 1px solid $subColor;
    // background-color: $gray1;
  }
}
textarea {
  padding: 15px;
  height: 15rem;
  @include res_min() {
    padding: 20px;
  }
}
// 郵便番号・電話番号等(MW WP Form)
.mwform-zip-field,
.mwform-tel-field {
  input:not([type="checkbox"]):not([type="radio"]) {
    display: inline-block;
    width: auto;
  }
}
// セレクトボックス初期化・カスタマイズ
select {
  appearance: none;
  position: relative;
  &-ms-expand {
    display: none;
  }
}
// セレクトボックスに下矢印をつけるカスタマイズ
.form-item-field---select {
  width: 100%;
  position: relative;
  select {
    padding-right: 30px;
    color: $baseColor;
  }
  &::before {
    content: "";
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: $mainColor;
    position: absolute;
    right: 13px;
    top: calc(50% - 3px);
    z-index: 999;
    pointer-events: none;
    cursor: pointer;
  }

  @include res_min() {
  }
}


/* -----------------------------------------
// Wrapper
// ---------------------------------------*/
// wrapeer
.mw_wp_form {
}
@include res_min() {
  .mw_wp_form {
  }
}

.form-wrap {
}
@include res_min() {
  .form-wrap {
    @include maxW(1000);
  }
}


// ----------------------------------------------------------------
// ラベル + INPUT
// ----------------------------------------------------------------

// ラベル + INPUT
.form-item {
  padding: 25px 0;
  border-bottom: 1px solid #A8B9C4;
  color: $mainColor;
  &:first-of-type {
    border-top: 1px solid #A8B9C4;
  }
}
@include res_min() {
  .form-item {
    padding: 20px 0;
    @include flex(nowrap, space-between, center);
  }
}

// ラベル
.form-item__label {
  font-weight: 600;
  line-height: 1.6;
  @include flex(nowrap, flex-start, stretch);

  // 必須・任意
  .required,
  .optional {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    margin-top: 2px;
    margin-right: 10px;
    height: 21px;
    border-radius: 2px;
    font-size: 1.4rem;
    line-height: 1;
  }
  .required {
    color: #fff;
    background-color: #E16F6F;
  }
  .optional {
    color: #4E4E4E;
    background-color: $gray1;
  }
}
@include res_min() {
  .form-item__label {
    flex: 0 0 240px;
    padding-right: 2em;
    font-size: 1.8rem;
    position: relative;

    // 必須・任意
    .required,
    .optional {
      margin-top: 3px;
    }
  }
}

// INPUT
.form-item__input {
  margin-top: 15px;

  // 入れ子：Input欄に複数の .form-item がある
  & > .form-item {
    padding-top: 0;
    &:first-of-type {
      border-top: none;
    }
    &:not(:first-of-type) {
      padding-top: 10px;
    }
    padding-bottom: 0;
    border-bottom: none;
    .form-item__input {
      margin-top: 6px;
    }
  }
}
@include res_min() {
  .form-item__input {
    flex: 1 1 auto;
    margin-top: 0;

    // 入れ子：Input欄に複数の .form-item がある
    & > .form-item {
      padding-left: 0;
      .form-item__label {
        flex: 0 0 8em;
        padding-right: 1em;
        font-size: 1.6rem;
      }
      .form-item__input {
        margin-top: 0;
      }
    }
  }
}

.form-item__input__checkbox,
.form-item__input__radiobutton {
  padding-top: 15px;
}
@include res_min() {
  .form-item__input__checkbox,
  .form-item__input__radiobutton {
    padding: 0;
    padding-top: 10px;
    @include flex(wrap, flex-start, center);
  }
}

.form-item__input__textarea {
  margin-top: 20px;
  textarea {
    min-height: 10em;
  }
}
@include res_min() {
  .form-item__input__textarea {
    margin-top: 12px;
    textarea {
      min-height: 13em;
    }
  }
}


// ----------------------------------------------------------------
// INPUT類パーツ
// ----------------------------------------------------------------
//ラジオボタン, チェックボックス：カスタマイズ
.mwform-radio-field,
.mwform-checkbox-field {
  display: block;
  padding: .5em 0;
  margin: 0 1em 0 0 !important;

  label {
    position: relative;
    line-height: 1em;
    cursor: pointer;
    input {
      display: none;
    }
    span.mwform-radio-field-text,
    span.mwform-checkbox-field-text {
      padding-right: 30px;
      font-weight: 600;
      //ボタンを装飾
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 2px solid #E16F6F;
        background-color: #F8E1E1;
        border-radius: 50%;
      }
    }
    span.mwform-checkbox-field-text {
      &::before {
        border-radius: 2px;
      }
    }
    //チェックありの場合
    input:checked + span.mwform-radio-field-text,
    input:checked + span.mwform-checkbox-field-text {
      &::before {
        // border-color: $mainColor;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        right: 3px;
        width: 9px;
        height: 9px;
        background-color: $mainColor;
        border-radius: 50%;
      }
    }
    input:checked + span.mwform-checkbox-field-text {
      &::before {
        // background-color: $mainColor;
        z-index: -1;
      }
      &::after { // チェックマークアイコンを表示
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        right: 5px;
        width: 10px;
        height: 8px;
        background-color: transparent;
        background-image: url(./assets/img/common/icon_checkmark.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        border-radius: 0;
        z-index: 1;
      }
    }
  }
}
// 同意するボタンだけ並びを変える
.form-item__input__checkbox--agree {
  .mwform-checkbox-field {
    label {
      span.mwform-checkbox-field-text {
        padding-right: 0;
        padding-left: 45px;
        font-size: 1.8rem;
        //ボタンを装飾
        &::before {
          width: 30px;
          height: 30px;
          right: auto;
          left: 0;
        }
      }
      input:checked + span.mwform-checkbox-field-text {
        &::after { // チェックマークアイコンを表示
          right: auto;
          top: 6px;
          left: 5px;
          width: 19px;
          height: 13px;
          background-image: url(./assets/img/common/icon_checkmark2.svg);
        }
      }
    }
  }
}
@include res_min() {
  .mwform-radio-field,
  .mwform-checkbox-field {
    margin: 0 40px 0 0 !important;
  }
}


// 横並びにする（生年月日など）
.input-inline-field {
  @include flex(nowrap, flex-start, center);
  .input-inline-item {
    margin-right: 0.5em;
    white-space: nowrap;
  }
  span.input-inline-item {
    font-size: 80%;
  }
  div.input-inline-item {
  }
}
@include res_min() {
  .input-inline-field {
    .input-inline-item {
      margin-right: 0.8em;
    }
    span.input-inline-item {
      font-size: 100%;
    }
  }
}

// 郵便番号
.mwform-zip-field {
  display: block;
  margin-bottom: 10px;
  input {
    margin: 0 10px;
    &:first-of-type {
      margin-left: 5px;
    }
  }
}


// ajaxzip3 - 住所自動入力のボタンが入るwrap
.form-item__input__ajaxzip-button {
  @include flex(nowrap, flex-start, stretch);
}
.button__ajaxzip {
  padding: 5px 20px;
  margin-left: 20px;
  background-color: $mainColor;
  font-size: 1.3rem;
  line-height: 1;
  color: #fff;
  white-space: nowrap;
  &:hover {
    opacity: .8;
  }
}
@include res_min() {
  .form-item__input__ajaxzip-button {
    input {
      flex: 0 0 250px;
    }
  }
  .button__ajaxzip {
    flex: 0 0 250px;
    margin-left: 10px;
    font-size: 1.6rem;
  }
}


// 電話番号
.mwform-tel-field {
  margin-bottom: 10px;
  input {
    max-width: 4.5em !important;
    margin: 0 2px;
    text-align: right;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

// 同意する
.agree {
  margin: 60px 10px 40px;
  text-align: center;
  .mwform-checkbox-field {
    margin: 0 !important;
    .mwform-checkbox-field-text {
      font-weight: 600;
    }
  }
  .agree__txt {
    margin-top: 2em;
    text-align: center;
  }
}
@include res_min() {
  .agree {
    margin: 50px 0;
    .form-item__input {
      margin: 0;
    }
    .mwform-checkbox-field-text {
      font-size: 1.8rem;
    }
    .agree__txt {
      margin-top: 1.5em;
    }
  }
}


// プライバシーポリシー文章
.pp-content-wrap {
  padding: 20px 8px 20px 20px;
  background-color: #F1F5FA;

  // スクロールバーカスタマイズ
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #B2CADB;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #6B8CA2;
    border-radius: 4px;
  }

  .pp-content {
    padding-right: 12px;
    height: 10em;
    font-size: 1.4rem;
    color: $baseColor;
    overflow-y: scroll;
    h5 {
      font-weight: 600;
    }
    .pp-content__block {
      margin-top: 1em;
      &:nth-of-type(1) {
        margin-top: .5em;
      }
      h6 {}
      p {
        margin-top: .5em;
      }
    }
  }
}
@include res_min() {
}


// ----------------------------------------------------------------
// ボタン
// ----------------------------------------------------------------

.form-button-wrap {
  padding: 30px 0;
  margin-top: 40px;
  background-color: #F1F5FA;
  @include flex(wrap, center, center);
  .form-button {
    width: 84%;
    &:not(:first-of-type) {
      margin-top: 20px;
    }
    button {
      @extend .button;
      margin: 0;
      width: 100%;
      color: #fff;
    }
    &--back button {
      &::before {
        left: 20px;
        right: auto;
        transform: scale(-1,1);
      }
    }
    &--submit button {
      background-color: #DB5555;
    }
  }
}
@include res_min() {
  .form-button-wrap {
    padding: 54px 0;
    margin-top: 80px;
    .form-button {
      width: auto;
      &:not(:first-of-type) {
        margin-top: 0;
      }
      button {
        margin: 0 5px;
      }
    }
  }
}


// ----------------------------------------------------------------
// 現在のページ状態による処理
// ----------------------------------------------------------------

// 入力ページでの表示
.mw_wp_form_input {
  .form-button--back,
  .form-button--submit {
    display: none;
  }
}

// 確認ページでの表示
.mw_wp_form_confirm {

  .form-item__input__checkbox,
  .form-item__input__radiobutton {
    padding-top: 0;
  }

  .form-item__input__textarea {
    margin-top: 25px;
  }

  .form-item {
    @include res_min() {
      padding: 30px 0;
    }
  }

  .form-item__label {
    // 必須・任意
    .required,
    .optional {
      display: none;
    }
  }

  .form-item__input {
    padding: 0;
    color: $baseColor;
    @include flex(wrap, flex-start, stretch);

     // 入れ子：Input欄に複数の .form-item がある
    & > .form-item {
      padding: 0;
      &:not(:first-of-type) {
        padding-top: 0;
      }
      .form-item__label {
        display: none;
      }
      .form-item__input {
        margin-top: 0;
      }
      &:nth-of-type(1) {
        flex-basis: 100%;
        padding-left: 1em;
        position: relative;
        &::before {
          content: '〒';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  .form-comment,
  .agree,
  .pp-content-wrap {
    display: none;
  }

  .form-button--confirm {
    display: none;
  }
  .form-item-field---select {
    width: auto;
    margin-bottom: 0;
    &::before {
      display: none;
    }
  }
}

// 完了ページでの表示
.mw_wp_form_complete {
}

// エラーページでの表示
.error {
  color: #ee0000;
  display: block !important;
  line-height: 1.4;
}
.form-item__input {
  .error {
    margin: 4px 0 0;
  }
}
.input-inline-item {
  position: relative;
  .error {
    position: absolute;
    margin: 2px 0 1em;
  }
}
.agree {
  position: relative;
  .error {
    position: absolute;
    left: 0;
    top: 0;
    margin: -1.2em 0 0 0;
  }
}
@include res_min() {
  .form-item__input {
    .error {
      margin: 6px 0 0;
    }
  }
  .input-inline-item {
    .error {
      margin: 4px 0 1em;
    }
  }
  .agree {
    .error {
      position: relative;
      margin: 0 0 0 1em;
      line-height: 1.7;
    }
  }
}


// ----------------------------------------------------------------
// その他
// ----------------------------------------------------------------
// フォームステップ
.form-step {
  width: 50%;
  min-width: 190px;
  max-width: 300px;
  margin: 0 auto 70px;
  position: relative;
  z-index: 1;
  // @include flex(nowrap, flex-start, stretch);

@include res_min() {
  width: 284px;
  margin: 20px auto 90px;
}
  // バックの横線
  &::before,
  &::after {
    content: "";
    width: 50%;
    height: 3px;
    background-color: $gray1;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
  }
  &::after {
    left: auto;
    right: 0;
  }
  .step-item {
    width: 18px;
    height: 18px;
    position: absolute;
    top: -9px;
    z-index: 1;
    .step-item-text {
      font-size: 1.4rem;
      font-weight: 500;
      letter-spacing: .1em;
      line-height: 1;
      color: #B2B2B2;
      white-space: nowrap;
      position: absolute;
      left: 50%;
      bottom: -25px;
      transform: translateX(-50%);
    }
    &::before { // ステップをつなぐ点
      content: "";
      width: 100%;
      height: 100%;
      background-color: $gray1;
      border-radius: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
    &--entry { left: 0; }
    &--confirm { left: calc(50% - 9px); }
    &--thanks { right: 0; }
  }

  // STEP1：入力・エラー
  .step-item--entry {
    color: $mainColor;
    .step-item-text {
      color: $baseColor;
    }
    &::before {
      background-color: $subColor;
    }
  }
  // STEP2：確認
  &--confirm {
    &::before { background-color: $subColor; } // ステップをつなぐ点
    .step-item--entry,
    .step-item--confirm {
      color: $mainColor;
      .step-item-text {
        color: $baseColor;
      }
      &::before {
        background-color: $subColor;
      }
    }
  }
  // STEP3：完了
  &--thanks {
    &::before, &::after { background-color: $subColor; } // ステップをつなぐ点
    .step-item--confirm,
    .step-item--thanks {
      color: $mainColor;
      .step-item-text {
        color: $baseColor;
      }
      &::before {
        background-color: $subColor;
      }
    }
  }

}