$header_height_SP: 70; // ヘッダーの高さ SP
$header_height_PC: 100; // ヘッダーの高さ PC


/* ----------------------------------------------------------------
  ヘッダーのレイアウト
---------------------------------------------------------------- */
.site-header {
  transition: .15s;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;

  padding: 0 0 0 19px;
  background-color: #fff;
  width: 100%;
  height: #{$header_height_SP + px};
  text-align: left;
  @include flex(nowrap, flex-end, stretch);
  .site-header__logo {
    padding: 7px 0;
    line-height: 1;
    white-space: nowrap;
    &:hover {
      opacity: .8;
    }
    .site-header__logo__mark {
      text-align: left;
      img {
        width: auto;
        max-width: none;
        height: 32px;
      }
    }
  }
  .site-header__logo__compamy-name {
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
  }
  .button-search {
    margin-left: auto;
    flex: 0 1 57px;
    font-size: 1.2rem;
    line-height: 1.333;
    text-align: center;
    @include flex(nowrap, center, center);
    flex-direction: column;
    &::before {
      content: '';
      width: 27px;
      height: 27px;
      background-image: url(./assets/img/common/icon_search.svg);
      background-size: cover;
      display: block;
      margin-bottom: 6px;
    }
  }
  .button__inquery {
    flex: 0 1 97px;
    height: 100%;
    font-size: 1.2rem;
    line-height: 1.333;
    color: #fff;
    text-align: center;
    background-color: $mainColor;
    @include flex(nowrap, center, center);
    flex-direction: column;
    span {
      display: none;
    }
    &::before {
      content: '';
      width: 25px;
      height: 17px;
      background-image: url(./assets/img/common/icon_mail.svg);
      background-size: cover;
      display: block;
      margin-bottom: 4px;
    }
    &:hover {
      opacity: .8;
    }
  }
}
@include res_min( $break2 ) {
  .site-header {
    padding-right: 16px;
    height: #{$header_height_PC + px};
    align-items: center;

    .button-search {
      flex: 0 0 70px;
    }
    .button__inquery {
      padding: 10px 12px 12px;
      height: 45%;
      white-space: nowrap;
      line-height: 1;
      @include flex(nowrap, center, center);
      flex-direction: row;
      span {
        display: inline-block;
      }
      br {
        display: none;
      }
      &::before {
        content: none;
      }
    }

    @include res_min( $break3 ) {
      .site-header__logo {
        padding: 0;
        @include flex(nowrap, flex-start, flex-end);
        .site-header__logo__mark {
          img {
            width: 137px;
            height: auto;
          }
        }
        .site-header__logo__compamy-name {
          margin: 0 0 9px 26px;
          font-size: 2rem;
        }
      }
    }

    @include res_min( $break4 ) {
    padding-right: 26px;
    .site-header__logo {
      padding: 0;
      @include flex(nowrap, flex-start, flex-end);
      .site-header__logo__mark {
        img {
          width: 137px;
          height: auto;
        }
      }
    }
    .site-header__logo__compamy-name {
      margin: 0 0 9px 26px;
      font-size: 2rem;
    }
    .button-search {
      flex: 0 0 110px;
      font-size: 1.5rem;
      line-height: 1;
      flex-direction: row;
      &::before {
        margin-bottom: 0;
        margin-right: 6px;
      }
    }
    .button__inquery {
      flex-basis: auto;
      padding: 14px 32px 17px;
      height: auto;
      font-size: 1.7rem;
    }
    }

  }
}


/* ----------------------------------------------------------------
  メニューのスタイル
---------------------------------------------------------------- */
.global-menu {
  opacity: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 18px 20px 100px;
  // overflow-y: scroll;
  position: absolute;
  left: 0;
  top: #{$header_height_SP + px};
  pointer-events: none;
  z-index: 9998;
  transition:.15s;
}
@include res_min( $break2 ) {
  .global-menu {
    opacity: 1;
    height: auto;
    padding: 0;
    @include flex(nowrap, center, stretch);
    pointer-events: visible;
    position: relative;
    left: auto;
    top: auto;
  }
}

.header-navi {
  .menu {
    // li
    .menu__item {
      .menu__item__link {
        display: block;
        padding: 13px 0;
        border-bottom: 1px solid #A8B9C4;
        background-image: url(./assets/img/common/icon_arrow1.svg);
        background-repeat: no-repeat;
        background-position: right 20px center;
        background-size: auto 3px;
        font-size: 1.8rem;
        color: $mainColor;
        line-height: 1;
        span {
          display: block;
          margin-top: 3px;
          font-family: $ff-en;
          font-size: 1.2rem;
          font-weight: 300;
          color: #668CA5;
        }
        &:link, &:visited {
          background-color: #fff;
        }
        &:hover, &:active {
          opacity: 1;
          background-color: #D8E6EF;
        }
      }
    }
  }
}
@include res_min( $break2 ) {
  .header-navi {
    .menu {
      @include flex(nowrap, center, center);
      // li
      .menu__item {
        .menu__item__link {
          padding: 13px 17px;
          border-bottom: none;
          background-image: none;
          font-size: 1.7rem;
          text-align: center;
          span {
            margin-top: 6px;
          }
        }
      }
    }
  }
}

// カレントページ設定
.blog .header-navi .menu .menu__item .menu__item__link[href*='news'],
.category .header-navi .menu .menu__item .menu__item__link[href*='news'],
.single-post .header-navi .menu .menu__item .menu__item__link[href*='news'],
.brand .header-navi .menu .menu__item .menu__item__link[href*='brand'],
.product .header-navi .menu .menu__item .menu__item__link[href*='product'],
.tax-product-category .header-navi .menu .menu__item .menu__item__link[href*='product'],
.case-study .header-navi .menu .menu__item .menu__item__link[href*='case-study'],
.tax-case-study-category .header-navi .menu .menu__item .menu__item__link[href*='case-study'],
.company .header-navi .menu .menu__item .menu__item__link[href*='company'],
.recruit .header-navi .menu .menu__item .menu__item__link[href*='recruit'] {
  &:link, &:visited {
    background-color: #D8E6EF;
  }
}


/* ----------------------------------------------------------------
  開閉トグル
---------------------------------------------------------------- */
.menu_bar {
  // button reset
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;

  cursor: pointer;
  width: 75px;
  height: #{$header_height_SP + px};
  position: relative;

  .menu-bar-line {
    width: 38px;
    height: 2px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $mainColor;
      position: absolute;
      left: 0;
      @include transition;
    }
    &::before {
      top: -7px;
    }
    &::after {
      top: 7px;
    }
  }
}
@include res_min( $break2 ) {
  .menu_bar {
    display: none;
  }
}


/* ----------------------------------------------------------------
  JS: magnific-popup の閉じるボタン
---------------------------------------------------------------- */
// Original
.button-mfp-close {
  .close-button-line {
    width: 44px;
    height: 2px;
    background-color: transparent;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
      @include transition;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}


/* ----------------------------------------------------------------
  メニュー開閉時の挙動　まとめて指定
---------------------------------------------------------------- */
// body
body.is__open {
  overflow: hidden;
}

// メニュー
.global-menu.is__open {
  opacity: 1;
  pointer-events: visible;
}

// 開閉トグルのデザイン
.menu_bar.is__open {
  .menu-bar-line {
    background-color: transparent !important;
    &::before,
    &::after {
      top: 0;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

}