/* ------------------------------------
//  BASE
// ----------------------------------*/
a {
  display: inline-block;
  text-decoration: none;
  transition: all .1s linear 0s;
  &:link, &:visited {
    color: $linkColor;
    text-decoration: none;
  }
  &:hover, &:active {
    opacity: .8;
  }
  // ウェブアイコン使用時
  i {
    margin: 0 4px;
  }
  // transform使用時にchromeでズレが生じるのを防ぐ
  backface-visibility: hidden;
}
//個別にリンクカラー等を変更
header,
footer,
.clear_link_style {
  a,
  a img {
    &:link, &:visited {
      color: $baseColor;
      text-decoration: none;
    }
    &:hover, &:active {
      opacity: 1;
      color: $baseColor;
      text-decoration: none;
    }
  }
}


/* ----------------------------------------------------------------
  テキストタイプ
---------------------------------------------------------------- */
.link {
  &:link, &:visited {
    color: $mainColor;
    text-decoration: underline;
  }
  &:hover, &:active {
    opacity: .8;
  }
}


/* ----------------------------------------------------------------
  ボタンタイプ
---------------------------------------------------------------- */
.button-wrap {
  margin-top: 20px;
  text-align: center;
  // 帯に色があるパターン
  &--band {
    padding: 30px 0;
    background-color: #F1F5FA;
  }
}
@include res_min( $break ) {
  .button-wrap {
    margin-top: 60px;
    @include flex(wrap, center, stretch);
     // 帯に色があるパターン
    &--band {
      padding: 54px 0;
    }
  }
}

.button {
  // 共通設定
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 22px 60px;
  margin: 10px auto 0;
  &:first-of-type {
    margin-top: 0;
  }
  width: 84%;
  background-color: $mainColor;
  line-height: 1.5;
  text-align: center;
  position: relative;
  &::before {
    content: '';
    width: 32px;
    height: 100%;
    background-image: url(./assets/img/common/icon_arrow3-s.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 0;
    right: 20px;
  }
  &:link, &:visited {
    color: #fff;
    text-decoration: none;
    opacity: 1;
  }
  &:hover, &:active {
    text-decoration: none;
    opacity: .8;
  }
  // BASE 基本
  &__base {
  }
  // small
  &__small {
  }
  // large
  &__large {
    padding: 38px 50px;
    width: 100%;
    &::before {
      right: 10px;
    }
  }
  // large light
  &__large-light {
    padding: 38px 50px;
    width: 100%;
    background-color: #215678;
    &::before {
      right: 10px;
    }
  }
  // large light PDF
  &__large-light-pdf {
    padding: 38px 50px;
    width: 100%;
    background-color: #215678;
    &::before {
      width: 18px;
      background-image: url(./assets/img/common/icon_pdf.svg);
      right: 15px;
    }
  }
  // 白
  &__base-white {
    background-color: #fff;
    &::before {
      background-image: url(./assets/img/common/icon_arrow4-s.svg);
    }
    &:link, &:visited {
      color: $mainColor;
      text-decoration: none;
      opacity: 1;
    }
  }
  // 送信等
  &__base-red {
    background-color: #DB5555;
  }
  // 戻る等
  &__base-reverse {
    &::before {
      left: 20px;
      right: auto;
      transform: scale(-1,1);
    }
  }
  // 四角いアイコン
  &__base-product {
    &::before {
      width: 16px;
      background-image: url(./assets/img/common/icon_box.svg);
      left: 22px;
      right: auto;
    }
  }
  // 主にfooter内で使用
  &__light {
    padding: 11px 0;
    width: 252px;
    background-color: #DBE4EB;
    font-size: 1.7rem;
    &::before {
      content: none;
    }
    &:link, &:visited {
      color: $mainColor;
    }
  }

}
@include res_min( $break ) {
  .button {
    // 共通設定
    width: auto;
    margin: 0 10px;
    min-width: 320px;
    // small
    &__small {
      min-width: 0;
      width: 240px;
    }
    // large
    &__large {
      padding: 58px 50px;
      min-width: 400px;
      max-height: 140px;
      &::before {
        right: 20px;
      }
    }
    // large light
    &__large-light {
      padding: 58px 50px;
      min-width: 400px;
      max-height: 140px;
      &::before {
        right: 20px;
      }
    }
     // large light PDF
    &__large-light-pdf {
      padding: 58px 50px;
      min-width: 400px;
      max-height: 140px;
      &::before {
        width: 23px;
        right: 20px;
      }
    }
    // 主にfooter内で使用
    &__light {
      min-width: 252px;
    }

  }
}


// download
.button--download {
  display: block;
  padding: 15px 3em 15px 20px;
  background-image: url(./assets/img/common/icon_download.svg);
  background-repeat: no-repeat;
  background-position: right 18px center;
  background-size: auto 13px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  &:link, &:visited {
    background-color: #215678;
    color: #fff;
  }
}
@include res_min( $break ) {
  .button--download {
    padding: 13px 4em 13px 36px;
    background-position: right 26px center;
    font-size: 1.6rem;
  }
}


// 拡大
.button--expansion {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  background-image: url(./assets/img/common/icon_expansion.svg);
  background-repeat: no-repeat;
  background-position: right 6px center;
  min-width: 117px;
  height: 34px;
  font-size: 1.4rem;
  font-weight: 600;
  &:link, &:visited {
    background-color: #215678;
    color: #fff;
  }
}


/* ----------------------------------------------------------------
  ページナビ
---------------------------------------------------------------- */
.pager {
  margin-top: 16px;
  padding: 0 46px;
  @include flex(wrap, center, stretch);
  position: relative;

  .prev,
  .next,
  .pager_num {
    width: 30px;
    flex: 0 0 30px;
    height: 30px;
    border-radius: 100%;
    font-family: $ff-num;
    font-size: 1.4rem;
    line-height: 1;
    @include flex(nowrap, center, center);
  }

  .pager_num {
    margin: 16px 8px 0;
  }
  a.pager_num {
    &:hover, &:active {
      text-decoration: none;
      background-color: $brown;
      font-weight: 700;
      color: #fff;
    }
  }

  .current {
    background-color: $brown;
    font-weight: 700;
    color: #fff;
  }

  // 前後
  .prev,
  .next {
    position: absolute;
    bottom: 0;
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url(./assets/img/common/ico_arrow_pager.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 5px;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
    }
    &::after {
      content: "";
      width: 30px;
      height: 30px;
      border: 1px solid $brown;
      border-radius: 15px;
      position: absolute;
      bottom: 0;
    }
    &:hover, &:active {
      text-decoration: none;
      &::before {
        background-color: $brown;
        background-image: url(./assets/img/common/ico_arrow_pager_white.svg);
      }
    }
  }
  .prev {
    left: 0;
    padding-left: 40px;
    &::before {
      transform: scale(-1,-1);
    }
    &::before,
    &::after {
      left: 0;
    }
  }
  .next {
    right: 0;
    padding-right: 40px;
    &::before,
    &::after {
      left: auto;
      right: 0;
    }
  }

  ///// 個別記事内
  &__entry {
    margin-top: 34px;
    margin-bottom: 60px;
    padding: 0;
    @include flex(nowrap, space-between, stretch);
    .prev,
    .next {
      width: auto;
      flex: 0 0 auto;
      position: relative;
    }
  }

}


/* ----------------------------------------------------------------
  その他
---------------------------------------------------------------- */
// アンカーリンク
.anchor-navi {
  padding: 0 20px;
  margin: 20px auto 40px;
  .button--anchor {
    display: block;
    padding: 3px 25px 3px 10px;
    margin-top: 10px;
    background-color: #6B8CA2;
    background-image: url(./assets/img/common/ico_arrow-bottom.svg);
    background-repeat: no-repeat;
    background-position: right 11px center;
    background-size: 4px;
    color: #fff;
  }
}
@include res_min( $break ) {
  .anchor-navi {
    padding: 0 20px;
    margin: 70px auto 0;
    @include maxW($break3);
    @include flex(wrap, center, stretch);
    .button--anchor {
      padding: 8px 25px 8px 17px;
      margin: 10px 10px 0;
      min-width: 240px;
    }
  }
}


// アイコンリンク
.icon-link {
  display: inline-block;
  line-height: 1;
  img {
    vertical-align: bottom;
  }
}


// blank
.link_blank {
  img {
    vertical-align: -1px;
    margin-left: 1px;
    width: 14px;
  }
}

// telリンク
.link_tel {
  &:hover, &:focus {
    outline: none;
    text-decoration: none;
  }
}
@include res_min( $break ) {
  .link_tel {
    pointer-events: none;
  }
}