/* ----------------------------------------------------------------
  TOP
---------------------------------------------------------------- */
.kv {
  z-index: 1;
  position: relative;
  &::before { //ロゴ共通表示
    content: '';
    width: 65.6%;
    height: 128vw;
    background-image: url(./assets/img/top/logo_kv.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
  }
}
@include res_min( $break ) {
  .kv {
    &::before { //ロゴ共通表示
      width: 25.5%;
      height: 37.23vw;
    }
  }
}


// イントロ
.sec_intro {
  padding-top: 30px;
  padding-bottom: 147px;
  margin-top: 24px;
  background-image: url(./assets/img/top/bg_intro.svg), url(./assets/img/common/bk_concrete_green.jpg);
  background-repeat: repeat-x;
  background-position: right 31% bottom, center;
  background-size: auto 240px, cover;
  * {
    text-align: center;
  }
  .inner_wide {
    @include flex(nowrap, flex-start, stretch);
    flex-direction: column;
  }
  .intro_title {
    order: 2;
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .intro_sub_title {
    order: 1;
    font-family: $ff-en;
    font-size: 3.6rem;
    line-height: 1.47;
    small {
      display: block;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }
  .intro_body {
    order: 3;
    margin-top: 22px;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@include res_min( $break ) {
  .sec_intro {
    padding-top: 100px;
    padding-bottom: 180px;
    margin-top: 74px;
    background-position: center bottom, center;
    .intro_title {
      margin-top: 3px;
      font-size: 2rem;
    }
    .intro_sub_title {
      font-size: 8rem;
      small {
        margin-bottom: 0;
        font-size: 3.6rem;
      }
    }
    .intro_body {
      margin-top: 65px;
      padding-left: 0;
      padding-right: 0;
      font-size: 1.8rem;
      line-height: 3.111;
    }
  }
}


// product
.sec_product {
  margin-top: 30px;
}
@include res_min( $break ) {
  .sec_product {
    margin-top: 100px;
  }
}


// ブロックリンク
.product_link {
	.link_item {
    margin-top: 6px;
    a {
      display: block;
      background-position: center;
      background-size: cover;
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.5;
      color: #fff;
      position: relative;
      small {
        display: block;
        font-size: 2rem;
      }
      &::before {
        content: '';
        width: 42px;
        height: 42px;
        background-image: url(./assets/img/common/icon_more-l-w.svg);
        background-size: cover;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
      &:hover, &:active {
        &::before {
          background-image: url(./assets/img/common/icon_more-l-b.svg);
        }
      }
    }

    // 個別
    &.link_item__product01 a {
      padding: 90px 0;
      background-image: url(./assets/img/top/top_product01.jpg);
    }
    &.link_item__product02 a {
      padding: 90px 0;
      background-image: url(./assets/img/top/top_product02.jpg);
    }
    &.link_item__product03 a {
      padding: 90px 0;
      background-image: url(./assets/img/top/top_product03.jpg);
    }
    &.link_item__product04 a {
      padding: 54px 0;
      font-size: 2rem;
      background-image: url(./assets/img/top/top_product04.jpg);
    }
    &.link_item__product05 a {
      padding: 54px 0;
      font-size: 2rem;
      background-image: url(./assets/img/top/top_product05.jpg);
    }
    &.link_item__product06 a {
      padding: 54px 0;
      font-size: 2rem;
      background-image: url(./assets/img/top/top_product06.jpg);
    }
	}
}
@include res_min( $break ) {
  .product_link {
    margin-top: 45px;
    @include flex(wrap, flex-start, stretch);
    .link_item {
      flex-basis: calc(33.333% - 6.667px);
      margin: 10px 10px 0 0;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.6rem;
        small {
          font-size: 2.4rem;
        }
        &::before {
          width: 68px;
          height: 68px;
          right: 30px;
          bottom: 30px;
        }
      }

      // 個別
      &.link_item__product01 a {
        padding: 0;
        height: 440px;
      }
      &.link_item__product02 a {
        padding: 0;
        height: 440px;
      }
      &.link_item__product03 a {
        padding: 0;
        height: 440px;
      }
      &.link_item__product04 a {
        padding: 0;
        height: 240px;
        font-size: 3rem;
      }
      &.link_item__product05 a {
        padding: 0;
        height: 240px;
        font-size: 3rem;
      }
      &.link_item__product06 a {
        padding: 0;
        height: 240px;
        font-size: 3rem;
      }
    }
  }
}


// brand
.sec_brand {
  padding-top: 30px;
  margin-top: 30px;
  background-image: url(./assets/img/top/bg_brand.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 82%;
  color: #fff;
  .contents_title {
    color: #fff;
  }
  .img_brand {
    margin-top: 30px;
    text-align: center;
    img {
      width: 78%;
    }
  }
}
@include res_min( $break ) {
  .sec_brand {
    .img_brand {
      img {
        width: 417px;
      }
    }
  }
  @include res_min( $break3 ) {
    .sec_brand {
      padding-top: 100px;
      padding-bottom: 130px;
      margin-top: 100px;
      background-size: cover;
      position: relative;
      .button_wrap {
        margin-top: 50px;
      }
      .img_brand {
        margin-top: 0;
        position: absolute;
        left: 63%;
        bottom: -100px;
        img {
          width: 417px;
        }
      }
    }
  }
}

// SDGs
.sec_sdgs {
  margin-top: 27px;
  p {
    margin-top: 5px;
  }
}
@include res_min( $break ) {
  .sec_sdgs {
    margin-top: 22px;
    .img_sdgs {
      img {
        width: 412px;
      }
    }
    p {
      margin-top: 10px;
      text-align: center;
    }
  }
}


// case study
.sec_case-study {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  background-image: url(./assets/img/common/bk_concrete_blue.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .list_post_type-thumbnail {
    padding: 0 28px;
  }
}
@include res_min( $break ) {
  .sec_case-study {
    padding-top: 100px;
    padding-bottom: 120px;
    margin-top: 77px;
    .list_post_type-thumbnail {
      margin-top: 5px;
      padding: 0;
      .item {
        flex-basis: calc(33.333% - 22px / 3);
        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
  }
}


// NEWS
.sec_news {
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(./assets/img/common/bk_concrete_blue.jpg);
  background-position: center;
  background-size: cover;
  .list_post_type-simple {
    margin-top: 30px;
  }
}
@include res_min( $break ) {
  .sec_news {
    padding-top: 100px;
    padding-bottom: 120px;
    .list_post_type-simple {
      margin-top: 20px;
      margin-left: 112px;
    }
  }
}


// コンテンツバナーリンク
.sec_contents-navi {
  margin-top: 30px;
}
@include res_min( $break ) {
  .sec_contents-navi {
    margin-top: 100px;
  }
}


// ダウンロードナビ
.sec_download-navi {
  margin-top: 30px;
  .inner_wide {
    padding: 30px 20px;
    background-image: url(./assets/img/common/bk_concrete_blue.jpg);
    background-position: center;
    background-size: cover;
  }
}
@include res_min( $break ) {
  .sec_download-navi {
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 100px;
    .inner_wide {
      padding: 60px 0 140px;
    }
  }
}


/* ----------------------------------------------------------------
  download
---------------------------------------------------------------- */
.post_download {
  padding: 25px 0 35px;
  border-bottom: 1px solid #A8B9C4;
  &:first-of-type {
    border-top: 1px solid #A8B9C4;
  }
  .post_download_title {
    font-weight: 600;
    color: $mainColor;
  }
  .button_download {
    margin-top: 15px;
  }
}
@include res_min( $break ) {
  .post_download {
    padding: 35px 0 40px;
    .button_download {
      margin-top: 20px;
      &:first-of-type {
        margin-top: 25px;
      }
    }
  }
}