/* ----------------------------------------------------------------
  COMMON
---------------------------------------------------------------- */
// 製品案内個別等
.sec--post {}
@include res_min( $break ) {
  .sec--post {
    .page-header + & {
      padding-top: 60px;
    }
  }
}


// 共通ブロック： .secレベル
.sec--contents-block {
}
@include res_min( $break ) {
  .sec--contents-block {
    padding: 70px 0 0;
  }
}


/* ----------------------------------------------------------------
  TOP
---------------------------------------------------------------- */
.kv {
  z-index: 1;
  position: relative;
  &::before { //ロゴ共通表示
    content: '';
    width: 65.6%;
    height: 128vw;
    background-image: url(./assets/img/top/logo_kv.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
  }
}
@include res_min( $break ) {
  .kv {
    &::before { //ロゴ共通表示
      width: 25.5%;
      height: 37.23vw;
    }
  }
}


// イントロ
.sec--intro {
  padding-bottom: 147px;
  margin-top: 24px;
  background-image: url(./assets/img/top/bg_intro.svg), url(./assets/img/common/bk_concrete_green.jpg);
  background-repeat: repeat-x;
  background-position: right 31% bottom, center;
  background-size: auto 240px, cover;
  * {
    text-align: center;
  }
  .inner-wide {
    @include flex(nowrap, flex-start, stretch);
    flex-direction: column;
  }
  .intro-title {
    order: 2;
    margin-top: 8px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .intro-sub-title {
    order: 1;
    font-family: $ff-en;
    font-size: 3.6rem;
    line-height: 1.47;
    small {
      display: block;
      margin-bottom: 5px;
      font-size: 2rem;
    }
  }
  .intro-body {
    order: 3;
    margin-top: 22px;
    padding-left: 2em;
    padding-right: 2em;
  }
}
@include res_min( $break ) {
  .sec--intro {
    padding-bottom: 180px;
    margin-top: 74px;
    background-position: center bottom, center;
    .intro-title {
      margin-top: 3px;
      font-size: 2rem;
    }
    .intro-sub-title {
      font-size: 8rem;
      small {
        margin-bottom: 0;
        font-size: 3.6rem;
      }
    }
    .intro-body {
      margin-top: 65px;
      padding-left: 0;
      padding-right: 0;
      font-size: 1.8rem;
      line-height: 3.111;
    }
  }
}


// product
.sec--product {}
@include res_min( $break ) {
  .sec--product {}
}


// ブロックリンク
.product-link {
	.link-item {
    margin-top: 6px;
    a {
      display: block;
      background-position: center;
      background-size: cover;
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
      line-height: 1.5;
      color: #fff;
      position: relative;
      small {
        display: block;
        font-size: 2rem;
      }
      &::before {
        content: '';
        width: 42px;
        height: 42px;
        background-image: url(./assets/img/common/icon_more-l-w.svg);
        background-size: cover;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
      &:hover, &:active {
        &::before {
          background-image: url(./assets/img/common/icon_more-l-b.svg);
        }
      }
    }

    // 個別
    &.link-item--product01 a {
      padding: 90px 0;
      background-image: url(./assets/img/top/top_product01.jpg);
    }
    &.link-item--product02 a {
      padding: 90px 0;
      background-image: url(./assets/img/top/top_product02.jpg);
    }
    &.link-item--product03 a {
      padding: 90px 0;
      background-image: url(./assets/img/top/top_product03.jpg);
    }
    &.link-item--product04 a {
      padding: 54px 0;
      font-size: 2rem;
      background-image: url(./assets/img/top/top_product04.jpg);
    }
    &.link-item--product05 a {
      padding: 54px 0;
      font-size: 2rem;
      background-image: url(./assets/img/top/top_product05.jpg);
    }
    &.link-item--product06 a {
      padding: 54px 0;
      font-size: 2rem;
      background-image: url(./assets/img/top/top_product06.jpg);
    }
	}
}
@include res_min( $break ) {
  .product-link {
    margin-top: 45px;
    @include flex(wrap, flex-start, stretch);
    .link-item {
      flex-basis: calc(33.333% - 6.667px);
      margin: 10px 10px 0 0;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 3.6rem;
        small {
          font-size: 2.4rem;
        }
        &::before {
          width: 68px;
          height: 68px;
          right: 30px;
          bottom: 30px;
        }
      }

      // 個別
      &.link-item--product01 a {
        padding: 0;
        height: 440px;
      }
      &.link-item--product02 a {
        padding: 0;
        height: 440px;
      }
      &.link-item--product03 a {
        padding: 0;
        height: 440px;
      }
      &.link-item--product04 a {
        padding: 0;
        height: 240px;
        font-size: 3rem;
      }
      &.link-item--product05 a {
        padding: 0;
        height: 240px;
        font-size: 3rem;
      }
      &.link-item--product06 a {
        padding: 0;
        height: 240px;
        font-size: 3rem;
      }
    }
  }
}


// brand
.sec--brand {
  background-image: url(./assets/img/top/bg_brand.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 82%;
  color: #fff;
  .contents-title {
    color: #fff;
  }
  .img-brand {
    margin-top: 30px;
    text-align: center;
    img {
      width: 78%;
    }
  }
}
@include res_min( $break ) {
  .sec--brand {
    .img-brand {
      img {
        width: 417px;
      }
    }
  }
  @include res_min( $break3 ) {
    .sec--brand {
      padding-bottom: 130px;
      background-size: cover;
      position: relative;
      .button-wrap {
        margin-top: 50px;
      }
      .img-brand {
        margin-top: 0;
        position: absolute;
        left: 63%;
        bottom: -100px;
        img {
          width: 417px;
        }
      }
    }
  }
}

// SDGs
.sec--sdgs {
  padding-top: 0;
  padding-bottom: 20px;
  p {
    margin-top: 5px;
  }
}
@include res_min( $break ) {
  .sec--sdgs {
    padding-top: 30px;
    padding-bottom: 75px;
    .img-sdgs {
      img {
        width: 412px;
      }
    }
    p {
      margin-top: 10px;
      text-align: center;
    }
  }
}


// case study
.sec--case-study {
  background-image: url(./assets/img/common/bk_concrete_blue.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .list-post-type--thumbnail {
    padding: 0 28px;
  }
}
@include res_min( $break ) {
  .sec--case-study {
    padding-bottom: 120px;
    .list-post-type--thumbnail {
      margin-top: 5px;
      padding: 0;
      .item {
        flex-basis: calc(33.333% - 22px / 3);
        &:nth-of-type(3n) {
          margin-right: 0;
        }
      }
    }
  }
}


// NEWS
.sec--news {
  background-image: url(./assets/img/common/bk_concrete_blue.jpg);
  background-position: center;
  background-size: cover;
  .list-post-type--simple {
    margin-top: 30px;
  }
}
@include res_min( $break ) {
  .sec--news {
    padding-top: 100px;
    padding-bottom: 120px;
    .list-post-type--simple {
      margin-top: 20px;
      margin-left: 112px;
    }
  }
}


// コンテンツバナーリンク
.sec--contents-navi {
}
@include res_min( $break ) {
  .sec--contents-navi {
  }
}


// ナビボックス
.sec--navi-block {
  padding-top: 0;
  .inner-wide {
    padding: 30px 20px;
    background-image: url(./assets/img/common/bk_concrete_blue.jpg);
    background-position: center;
    background-size: cover;
  }
  .button-wrap {
    margin-top: 30px;
  }
}
@include res_min( $break ) {
  .sec--navi-block {
    padding: 0 4%;
    .inner-wide {
      padding: 100px 0 140px;
    }
    .button-wrap {
      margin-top: 50px;
    }
  }
}

// page ナビ
.sec--page-navi {
  padding-top: 0;
}
@include res_min( $break ) {
  .sec--page-navi {
    padding-top: 0;
    margin-top: 80px;
  }
}


/* ----------------------------------------------------------------
  BRAND
---------------------------------------------------------------- */
.sec.sec--brand-kv {
  padding-top: 30px;
  padding-bottom: 110px;
  background-image: url(./assets/img/brand/bg_brand_kv.svg);
  background-repeat: repeat-x;
  background-position: right 31% bottom;
  background-size: auto 240px;
  .brand-kv__content {
    .brand-kv__content__catchcopy {
      display: block;
      font-family: $ff-en;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.5;
      color: $mainColor;
    }
    .brand-kv__content__title {
      margin-top: 20px;
      display: block;
      font-weight: 600;
      color: $mainColor;
    }
    .brand-kv__content__text {
      margin-top: 15px;
      font-size: 1.4rem;
    }
  }
  .brand-kv__image {
    padding-top: 25px;
    img {
      width: 80%;
      max-width: 417px;
    }
  }
}
@include res_min( $break ) {
  .sec.sec--brand-kv {
    padding-top: 80px;
    padding-bottom: 140px;
    background-position: center bottom;
    .inner-medium {
      @include flex(nowrap, space-between, center);
      flex-direction: row-reverse;
    }
    .brand-kv__content {
      flex-basis: 65.25%;
      padding-left: 8.5%;
      .brand-kv__content__catchcopy {
        font-size: 7.4rem;
        font-size: 3.8vw;
        line-height: 1;
      }
      .brand-kv__content__title {
        margin-top: 55px;
        font-size: 2rem;
        line-height: 1.8;
      }
      .brand-kv__content__text {
        margin-top: 20px;
        font-size: 1.6rem;
        line-height: 1.875;
      }
    }
    .brand-kv__image {
      flex-basis: 34.75%;
      padding-top: 0;
      text-align: left;
      img {
        width: 100%;
      }
    }
  }
}

.sec--brand-sdgs {
  padding-bottom: 0;
  .inner-medium {}
  .sdgs-text {
    h2 {
      font-size: 2.2rem;
      font-weight: 600;
      color: $mainColor;
    }
    p {
      margin-top: 10px;
    }
  }
  .sdgs-image {
    margin-top: 25px;
    .img-sdgs {
      img {
        max-width: 412px;
      }
    }
    p {
      margin-top: 5px;
    }
  }
}
@include res_min( $break ) {
  .sec--brand-sdgs {
    padding-bottom: 0;
    .inner-medium {
      @include flex(nowrap, flex-start, center);
    }
    .sdgs-text {
      flex-basis: 65.5%;
      padding-right: 5.667%;
      h2 {
        font-size: 2.6rem;
      }
    }
    .sdgs-image {
      flex-basis: 34.5%;
      max-width: 412px;
      margin-top: 0;
    }
  }
}

.sec--separate-block {
  // 基本レイアウトは開発理念ページのブロック
  padding-top: 40px;
  padding-bottom: 40px !important;
  margin-top: 60px;
  position: relative;
  &::before { // カラー背景
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    top: 60px;
    z-index: -2;
  }
	.inner-wide {
		.separate-block-content {
      padding: 15px 20px 20px;
      margin: 0 10px;
      background-color: #fff;
      box-shadow: 0 0 30px rgba(0,0,0,.2);
			.separate-block-content__head {
				.separate-block-content__head__title {
          font-weight: 600;
          line-height: 1.5;
          color: $mainColor;
          span {
            display: block;
            margin-bottom: 2px;
            font-family: $ff-en;
            font-size: 4.6rem;
            font-weight: 400;
            line-height: 1.4;
          }
				}
				.separate-block-content__head__catchcopy {
          display: block;
          margin-top: 25px;
          font-size: 1.8rem;
          line-height: 1.7;
          color: #215678;
				}
			}
			.separate-block-content__text {
        margin-top: 20px;
        font-size: 1.4rem;
        line-height: 1.6;
			}
			.button-wrap {
        margin-top: 15px;
				.button {
          padding: 10px 60px 10px 15px;
          width: 100%;
          text-align: left;
				}
			}
		}
		.separate-block-image {
      width: calc(100% - 60px);
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      z-index: -1;
		}
	}
  // 個別
  &--ecology {
    margin-top: 40px;
    &::before {
      background-color: #EEF6F6;
      right: 0;
    }
    .separate-block-image {
      background-image: url(./assets/img/brand/img_brand_ecology.jpg);
      background-position: center;
      left: 0;
    }
  }
  &--environment {
    &::before {
      background-color: #FCFCE1;
      left: 0;
    }
    .separate-block-image {
      background-image: url(./assets/img/brand/img_brand_environment.jpg);
      background-position: center;
      right: 0;
    }
  }
  &--structure {
    margin-bottom: 80px;
    &::before {
      background-color: #F1F5FA;
      right: 0;
    }
    .separate-block-image {
      background-image: url(./assets/img/brand/img_brand_structure.jpg);
      background-position: center;
      left: 0;
    }
  }
}
// 採用情報ページのスタッフブロック
.staff-message {
  .sec--separate-block--staff {
    &::before { // イメージ背景
      background-image: url(./assets/img/common/bk_concrete_blue.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
    }
    .inner-wide {
      .separate-block-content {
        padding: 40px 50px 70px;
        .separate-block-content__head {
          display: block;
          .separate-block-content__head__staff-name {
            span {
              margin-right: 16px;
              font-size: 1.4rem;
              align-items: center;
              color: #6B8CA2;
            }
            em {
              font-size: 2rem;
              color: $mainColor;
            }
          }
          .separate-block-content__head__staff-title {
            display: block;
            margin-top: 20px;
            color: $mainColor;
          }
        }
      }
    }
    .separate-block-image {
      background-position: center;
    }
    &:first-of-type {
     margin-top: 40px;
    }
    &:last-of-type {
     margin-bottom: 80px;
    }
    &:nth-of-type(odd) {
      &::before {
        right: 0;
      }
      .separate-block-image {
        left: 0;
      }
    }
    &:nth-of-type(even) {
      &::before {
        left: 0;
      }
      .separate-block-image {
        right: 0;
      }
    }
  }
}
@include res_min( $break ) {
  .sec--separate-block {
    padding-top: 107px;
    padding-bottom: 107px !important;
    margin-top: 140px;
    &::before { // カラー背景
      width: 96%;
      height: 65%;
      top: auto;
      bottom: -60px;
    }
    .inner-wide {
      .separate-block-content {
        padding: 45px 50px 50px;
        margin: 0;
        width: 54%;
        box-shadow: none;
        .separate-block-content__head {
          @include flex();
          align-items: center;
          .separate-block-content__head__title {
            margin-right: 60px;
            span {
              margin-bottom: 1px;
              font-size: 4.8rem;
            }
          }
          .separate-block-content__head__catchcopy {
            margin-top: 0;
          }
        }
        .separate-block-content__text {
          font-size: 1.6rem;
          line-height: 1.875;
        }
        .button-wrap {
          margin-top: 12px;
          justify-content: flex-start;
          .button {
            padding: 22px 60px;
            margin: 0;
            max-width: 480px;
            text-align: center;
          }
        }
      }
      .separate-block-image {
        width: 62%;
      }
    }
    // 個別
    &--ecology {
      margin-top: 90px;
      &::before { // カラー背景
        right: 4%;
      }
      .inner-wide {
        padding-right: 7.5%;
        .separate-block-content {
          margin-left: auto;
        }
        .separate-block-image {
          left: 4%;
        }
      }
    }
    &--environment {
      &::before { // カラー背景
        left: 4%;
      }
      .inner-wide {
        padding-left: 7.5%;
        .separate-block-content {
          margin-right: auto;
        }
        .separate-block-image {
          right: 4%;
        }
      }
    }
    &--structure {
      &::before { // カラー背景
        right: 4%;
      }
      margin-bottom: 140px;
      .inner-wide {
        padding-right: 7.5%;
        .separate-block-content {
          margin-left: auto;
        }
        .separate-block-image {
          left: 4%;
        }
      }
    }
  }
  // 採用情報ページのスタッフブロック
  .staff-message {
    .sec--separate-block--staff {
      padding-top: 60px;
      padding-bottom: 60px !important;
      .inner-wide {
        .separate-block-content {
          width: 41%;
          .separate-block-content__head {
            .separate-block-content__head__staff-name {
              span {
                margin-right: 22px;
              }
              em {
                font-size: 2.4rem;
              }
            }
          }
          .separate-block-content__text {
            margin-top: 24px;
          }
        }
      }
      .separate-block-image {
        background-position: center;
        width: 57.8%;
      }
      &:first-of-type {
      margin-top: 60px;
      }
      &:last-of-type {
      margin-bottom: 140px;
      }
      &:nth-of-type(odd) {
        &::before {
          right: 4%;
        }
        .inner-wide {
          padding-right: 11.5%;
          .separate-block-content {
            margin-left: auto;
          }
          .separate-block-image {
            left: 4%;
          }
        }
      }
      &:nth-of-type(even) {
        &::before {
          left: 4%;
        }
        .inner-wide {
          padding-left: 11.5%;
          .separate-block-content {
            margin-right: auto;
          }
          .separate-block-image {
            right: 4%;
          }
        }
      }
    }
  }
}


/* ----------------------------------------------------------------
  COMPANY
---------------------------------------------------------------- */
// 共通：採用情報でも使用
.sec--separate-kv {
  padding-top: 30px !important;
  padding-left: 0;
  padding-right: 0;
  background-image: url(./assets/img/common/bk_concrete_blue.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% 80%;
  position: relative;
  .inner-wide {
    @include flex();
    flex-direction: column;
  }
  .separate-kv__content {
    order: 2;
    padding: 30px 30px 20px;
    margin: -30px 20px 0;
    background-color: #fff;
    .separate-kv__content__heading { // 見出し
      margin-top: -10px;
      margin-bottom: 25px;
      font-weight: 600;
      color: $mainColor;
      span {
        display: block;
        margin-bottom: 2px;
        font-family: $ff-en;
        font-size: 4.6rem;
        font-weight: 400;
        line-height: 1.4;
      }
    }
    .separate-kv__content__title { // 記事タイトル
      display: block;
      margin-bottom: 20px;
      font-weight: 600;
      color: $mainColor;
    }
    .separate-kv__content__text {
      font-size: 1.5rem;
      line-height: 1.7;
    }
    .separate-kv__content__sign {
      margin-top: 20px;
      font-size: 1.8rem;
      line-height: 1.7;
    }
  }
  .separate-kv__image {
    order: 1;
    height: 0;
    padding-top: 40%;
    background-size: cover;
  }
}
@include res_min( $break ) {
  .sec--separate-kv {
    background-position: center bottom;
    background-size: 100% 42%;
    .inner-wide {
      display: block;
    }
    .separate-kv__content {
      width: 36.5%;
      padding: 45px 50px 70px;
      margin: 0;
      position: absolute;
      left: 7%;
      top: 50%;
      transform: translateY(-50%);
      .separate-kv__content__heading { // 見出し
        margin-top: 0;
        span {
          margin-bottom: 1px;
          font-size: 4.8rem;
        }
      }
      .separate-kv__content__text {
        font-size: 1.6rem;
        line-height: 1.875;
      }
      .separate-kv__content__sign {
        margin-top: 80px;
        font-size: 2rem;
      }
    }
    .separate-kv__image {
      width: 67.5%;
      padding-top: 27%;
      margin-left: auto;
      position: relative;
      z-index: -1;
    }
  }
}

// MV 個別
.sec--separate-kv--company {
  .separate-kv__image {
    padding-top: 62%;
    background-image: url(./assets/img/company/img_company_president.jpg);
  }
}
@include res_min( $break ) {
  .sec--separate-kv--company {
    padding: 70px 0 !important;
    margin-top: -20px;
    .separate-kv__content {
      padding-bottom: 50px;
    }
    .separate-kv__image {
      padding-top: 41.5%;
      background-image: url(./assets/img/company/img_company_president.jpg);
    }
  }
}


// 沿革
.table-type2--history {
  tbody tr:first-of-type td,
  tbody tr td.cell-history-month:first-of-type  {
    border-top: none;
  }
  .cell-history-year {
    width: 25%;
    font-weight: 600;
    color: $mainColor;
    white-space: nowrap;
  }
  .cell-history-month {
    padding-right: 20px;
    width: 20%;
    font-weight: 600;
    color: $mainColor;
    text-align: right;
    white-space: nowrap;
  }
  .cell-data {
    width: 55%;
  }
}
@include res_min( $break ) {
  .table-type2--history {
    .cell-history-year {
    width: 11%;
    }
    .cell-history-month {
      width: 7%;
      padding-right: 24px;
    }
    .cell-data {
      width: 82%;
    }
  }
}

.company-map {
  padding: 30px 20px 25px;
  &:not(:first-of-type) {
    margin-top: 10px;
  }
  background-color: #F1F5FA;
	.company-map__title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    color: $mainColor;
	}
	.company-map__include {
    iframe {
      max-width: 100%;
      height: 50vw;
    }
    margin-top: 15px;
	}
	.company-map__info {
    margin-top: 5px;
    line-height: 1.7;
  }
}
@include res_min( $break ) {
  .company-map {
    padding: 40px 50px 35px;
    .company-map__title {
      font-size: 2.4rem;
    }
    .company-map__include {
      iframe {
        height: 410px;
      }
      margin-top: 20px;
    }
    .company-map__info {
      br {
        display: none;
      }
    }
  }
}


/* ----------------------------------------------------------------
  RECRUIT
---------------------------------------------------------------- */
// MV 個別
.sec--separate-kv--recruit {
  padding: 50px 0  20px !important;
  .separate-kv__image {
    padding-top: 40%;
    background-image: url(./assets/img/recruit/img_recruit_mv01.jpg);
  }
}
@include res_min( $break ) {
  .sec--separate-kv--recruit {
    padding-bottom: 60px !important;
  }
}


@include res_min( $break ) {
  .kv-sub {
    @include flex();
    .kv-sub__image {
      flex-basis: 50%;
    }
  }
}


.table-type2--recruit {
  .cell-label {
    width: 25%;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    span {
      margin-left: 4px;
      font-size: 2.4rem;
      vertical-align: -.12em;
    }
  }
  .cell-data {
    width: 75%;
  }
}
@include res_min( $break ) {
  .table-type2--recruit {
    .cell-label {
      width: 18%;
      font-size: 1.6rem;
      span {
        margin-left: 10px;
        font-size: 3rem;
        vertical-align: -.16em;
      }
    }
    .cell-data {
      width: 82%;
    }
  }
}


.button-wrap--recruit {
  .image_button {
    margin-top: 10px;
  }
}
@include res_min( $break ) {
  .button-wrap--recruit {
    .image_button {
      margin: 0 10px;
      max-width: 400px;
    }
  }
}


/* ----------------------------------------------------------------
  NEWS - archive
---------------------------------------------------------------- */
// news だけ カテゴリー一覧を5列 にする
@include res_min( $break ) {
  .term-list {
    .cat-item {
      flex-basis: 18%;
      margin: 0 2.5% 0 0;
      &:nth-of-type(4n) {
        margin-right: 2.5%;
      }
      &:nth-of-type(5n) {
        margin-right: 0;
      }
      &:nth-of-type(n+5) {
        margin-top: 0;
      }
      &:nth-of-type(n+6) {
        margin-top: 23px;
      }
    }
  }
}

.sec--archive-post {
  padding-top: 40px;
}
@include res_min( $break ) {
  .sec--archive-post {
    padding-top: 60px;
    padding-bottom: 30px;
    .sec--archive-list + & {
      margin-top: 0;
    }
  }
}


/* ----------------------------------------------------------------
  NEWS - entry
---------------------------------------------------------------- */
.post-header {
  margin-bottom: 20px;
  .post__meta {
    @include flex(nowrap, flex-start, center);
    .post__meta__date {
      margin-right: 16px;
      font-size: 1.4rem;
      color: $mainColor;
    }
  }
  .post__title {
    padding-bottom: 18px;
    margin-top: 10px;
    border-bottom: 1px solid #A8B9C4;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.7;
    color: $mainColor;
  }
}
@include res_min( $break ) {
  .post-header {
    margin-bottom: 30px;
    .post__title {
      padding-bottom: 24px;
      font-size: 3rem;
    }
  }
}


/* ----------------------------------------------------------------
  custom post type - archive
---------------------------------------------------------------- */
// 共通
.sec--archive-list {
  .page-header + & {
   padding-bottom: 0;
  }
}
@include res_min( $break ) {
  .sec--archive-list {
    .page-header + & {
      padding-top: 57px;
     padding-bottom: 0;
    }
  }
}

// product
.sec--archive-product {
  padding-bottom: 30px !important;
  .sec--archive-list + & {
    margin-top: 40px;
  }
  // 背景設定
  &:nth-of-type(even) { // 直前に sec--archive-list があるため2番目以降となる
    background-image: url(./assets/img/common/bk_concrete_blue.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255,255,255,.4);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
    }
  }
}
@include res_min( $break ) {
  .sec--archive-product {
    padding-bottom: 100px !important;
    .sec--archive-list + & {
      margin-top: 60px;
    }
    // 背景設定
    &:nth-of-type(even) { // 直前に sec--archive-list があるため2番目以降となる
      background-image: url(./assets/img/common/bk_concrete_blue.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.4);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
    }
  }
}

// product archive title
.archive-product__title {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 600;
  color: $mainColor;
}
@include res_min( $break ) {
  .archive-product__title {
    font-size: 3rem;
    text-align: center;
  }
}

// product archive list
.archive-product__list {
  margin-top: 20px;
	.archive-product__list__item {
    &:not(:first-of-type) {
      margin-top: 10px;
    }
		.archive-product__list__item__link {
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      padding: 2em 1em;
      line-height: 1.5;
      font-weight: 600;
      text-align: center;
      color: #fff;
      position: relative;
      z-index: 1;
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(107,140,162,.2);
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
      }
      &::after {
        content: '';
        width: 33px;
        height: 33px;
        background-image: url(./assets/img/common/icon_more-s-w.svg);
        background-size: cover;
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
		}
	}
}
@include res_min( $break ) {
  .archive-product__list {
    margin-top: 50px;
    // 基本：左寄せの場合(記事が4件以上)
    @include flex(wrap, flex-start, stretch);
    .archive-product__list__item {
      flex-basis: calc(33.333% - 20px / 3);
      margin: 0 10px 0 0;
      &:not(:first-of-type) {
        margin-top: 0;
      }
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(n+4) {
        margin-top: 10px;
      }
      .archive-product__list__item__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 230px;
        padding: 0 2em;
        font-size: 2rem;
        &::after {
          width: 50px;
          height: 50px;
        }
      }
    }
    // 中央寄せの場合(記事が3件以下)
    &--center {
      justify-content: center;
      .archive-product__list__item {
        margin: 0 0 0 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}


// case study
.sec--archive-case-study {
  padding-top: 22px;
}
@include res_min( $break ) {
  .sec--archive-case-study {
    padding-top: 40px;
  }
}


/* ----------------------------------------------------------------
  custom post type - entry
---------------------------------------------------------------- */
// 共通
.kv--sub {
  padding: 20px;
  background-image: url(./assets/img/common/bk_concrete_blue.jpg);
  background-position: center;
  background-size: cover;
}
@include res_min( $break ) {
  .kv--sub {
    padding: 90px 0 56px;
    .inner-medium {
      @include maxW();
      position: relative;
    }
  }
}

// product
.product-post-header {
  padding: 25px 20px;
  margin-top: 45px;
  background-color: #fff;
  color: $mainColor;
  position: relative;
  &::before {
    content: 'PRODUCT';
    font-family: $ff-en;
    font-size: 1.6rem;
    font-weight: 300;
    color: #215678;
    position: absolute;
    left: 10px;
    top: -1em;
  }
	.post-title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.46;
    br {
      display: none;
    }
	}
	.post-sub-title {
    margin-top: 0;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.46;
	}
  .post-date {
    margin-top: 15px;
    font-weight: 600;
    line-height: 1;
    color: #6B8CA2;
  }
	.post-category {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #B1C4D1;
    font-size: 1.2rem;
    line-height: 1.46;
	}
}
@include res_min( $break ) {
  .product-post-header {
    padding: 43px 50px 35px;
    margin-top: 0;
    position: absolute;
    left: 0;
    top: -27px;
    &::before {
      font-size: 2rem;
      left: 12px;
    }
    .post-title {
      font-size: 2.6rem;
    }
    .post-sub-title {
      font-size: 1.8rem;
      line-height: 1.2;
    }
    .post-date {
      margin-top: 25px;
      font-size: 1.8rem;
    }
    .post-category {
      padding: 8px 16px;
      margin-top: 15px;
      font-size: 1.4rem;
    }
  }
}

.post-cf-images {
  padding: 30px 20px;
  background-color: #F1F5FA;
  .post-cf-images__item {
    &:not(:first-of-type) {
      margin-top: 30px;
    }
    .post-cf-images__item__pic {
      padding: 20px;
      border: 2px solid #BED7E8;
      background-color: #fff;
      .slider__item__image__img {
      }
    }
    .post-cf-images__item__pic__caption {
      margin-top: 8px;
      font-weight: 600;
      line-height: 1.5;
      color: $mainColor;
    }
    .button--expansion {
      margin-top: 10px;
    }
  }
}
@include res_min( $break ) {
  .post-cf-images {
    padding: 90px 13.7%;
    @include flex(nowrap, center, stretch);
    .post-cf-images__item {
      flex-basis: 48%;
      &:not(:first-of-type) {
        margin-top: 0;
        margin-left: 4%;
      }
      .post-cf-images__item__pic {
        padding: calc(100% - 4px) 0 0;
        width: 100%;
        height: 0;
        position: relative;
        overflow: hidden;
        .slider__item__image__img {
          width: calc(100% - 40px);
          height: auto;
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.post-cf-icon {
  margin: 30px 0 40px;
  margin-right: -10px;
  @include flex(wrap, flex-start, stretch);
  .icon-item {
    flex-basis: 80px;
    flex-basis: calc(33.333% - 20px / 3);
    max-width: 80px;
    margin: 10px 10px 0 0;
  }
}
@include res_min( $break ) {
  .post-cf-icon {
    justify-content: center;
    margin: 50px 0 60px;
    margin-right: 0;
    .icon-item {
      flex-basis: 80px;
      margin: 10px 5px 0;
    }
  }
}

.post-cf-characteristic {
  width: 100%;
  th {
    padding: 15px 3px;
    border: 1px solid #0F3954;
    border-right-color: #A8B9C4;
    &:last-of-type {
      border-right-color: #0F3954;
    }
    background-color: #0F3954;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    text-align: center;
  }
  td {
    padding: 20px 3px;
    border: 1px solid #A8B9C4;
    border-top: none;
    font-size: 1.8rem;
    line-height: 1;
    color: $mainColor;
    text-align: center;
  }
}
@include res_min( $break ) {
  .post-cf-characteristic {
    table-layout: fixed;
    th {
      padding: 27px 10px;
    }
    td {
      padding: 25px 10px;
      font-size: 2.6rem;
    }
  }
}


/* ----------------------------------------------------------------
  download
---------------------------------------------------------------- */
.sec--download {
}
@include res_min( $break ) {
  .sec--download {
  }
}

.post-download {
  padding: 25px 0 35px;
  border-bottom: 1px solid #A8B9C4;
  &:first-of-type {
    border-top: 1px solid #A8B9C4;
  }
  .post-download__title {
    font-weight: 600;
    color: $mainColor;
  }
  .button--download {
    margin-top: 15px;
  }
}
@include res_min( $break ) {
  .post-download {
    padding: 35px 0 40px;
    .button--download {
      margin-top: 20px;
      &:first-of-type {
        margin-top: 25px;
      }
    }
  }
}


/* ----------------------------------------------------------------
  contact
---------------------------------------------------------------- */
.sec--page-contact-head {
  padding-bottom: 0;
}
.sec--page-contact-body {
}
@include res_min( $break ) {
  .sec--page-contact-head {
    padding-bottom: 0;
  }
  .sec--page-contact-body {
    padding-top: 30px;
  }
}

.contact-by-tel {
  margin-top: 10px;
  margin-bottom: 40px;
  @include flex(nowrap, flex-start, center);
  em {
    margin-right: 5px;
    font-size: 1.4rem;
    line-height: 1.5;
  }
  a {
    font-size: 2.4rem;
    font-weight: 600;
    white-space: nowrap;
  }
}
@include res_min( $break ) {
  .contact-by-tel {
    margin-top: 4px;
    margin-bottom: 84px;
    em {
      margin-right: 5px;
      font-size: 1.6rem;
    }
    a {
      font-size: 2.8rem;
    }
  }
}

// step
.step-contact {
  @include flex(nowrap, space-between, center);
  .step-contact__label {
    flex-basis: calc(33.333% - 8px);
    padding: 5px 0;
    background-color: #D6D6D6;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    color: #fff;
    &.current {
      background-color: $mainColor;
    }
  }
}
@include res_min( $break ) {
  .step-contact {
    margin: 0 auto;
    max-width: 590px;
    .step-contact__label {
      flex-basis: calc(33.333% - 16px);
      background-color: #D6D6D6;
      text-align: center;
      font-weight: 600;
      color: #fff;
      &.current {
        background-color: $mainColor;
      }
    }
  }
}


// thanks
.thanks-content {
  margin-bottom: 40px;
  em {
    display: block;
    font-size: 2.2rem;
    line-height: 1.7;
  }
  p {
    margin-top: 1em;
    font-weight: 600;
  }
}
@include res_min( $break ) {
  .thanks-content {
    padding-top: 50px;
    margin-bottom: 150px;
    text-align: center;
    em {
      font-size: 2.8rem;
    }
    p {
      margin-top: 80px;
      text-align: center;
    }
  }
}