/* ----------------------------------------------------------------
  テーブル設定
---------------------------------------------------------------- */

//
.table-simple {
  th {
    vertical-align: top;
    white-space: nowrap;
    &::after {
      content: '：';
    }
  }
}