// @font-face {
// font-family: 'Noto Serif CJK JP';
// font-style: normal;
// font-weight: 200;
// src: local("Noto Sans CJK JP ExtraLight"),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-ExtraLight.woff2') format('woff2'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-ExtraLight.woff') format('woff'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-ExtraLight.ttf')  format('truetype');
// }
@font-face {
font-family: 'Noto Serif CJK JP';
font-style: normal;
font-weight: 300;
src: local("Noto Sans CJK JP Light"),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Light.woff2') format('woff2'),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Light.woff') format('woff'),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Light.ttf')  format('truetype');
}
// @font-face {
// font-family: 'Noto Serif CJK JP';
// font-style: normal;
// font-weight: 400;
// src: local("Noto Sans CJK JP Regular"),
// // url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Regular.woff2') format('woff2'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Regular.woff') format('woff'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Regular.ttf')  format('truetype');
// }
@font-face {
font-family: 'Noto Serif CJK JP';
font-style: normal;
font-weight: 500;
src: local("Noto Sans CJK JP Medium"),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Medium.woff2') format('woff2'),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Medium.woff') format('woff'),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Medium.ttf')  format('truetype');
}
// @font-face {
// font-family: 'Noto Serif CJK JP';
// font-style: normal;
// font-weight: 600;
// src: local("Noto Sans CJK JP SemiBold"),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-SemiBold.woff2') format('woff2'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-SemiBold.woff') format('woff'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-SemiBold.ttf')  format('truetype');
// }
@font-face {
font-family: 'Noto Serif CJK JP';
font-style: normal;
font-weight: 600;
src: local("Noto Sans CJK JP Bold"),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Bold.woff2') format('woff2'),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Bold.woff') format('woff'),
url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Bold.ttf')  format('truetype');
}
// @font-face {
// font-family: 'Noto Serif CJK JP';
// font-style: normal;
// font-weight: 900;
// src: local("Noto Sans CJK JP Black"),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Black.woff2') format('woff2'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Black.woff') format('woff'),
// url('../fonts/notoserif-cjk-jp/NotoSerifCJKjp-Black.ttf')  format('truetype');
// }