// ----------------------------------------------------------------
// wp: 検索入力フォーム
// ----------------------------------------------------------------
#searchform {
  width: 90%;
  position: relative;
  margin: 0 auto;
  .search_input {
    width: calc( 100% - 50px );
    padding: 3px 0 3px 10px;
    font-size: 1.4rem;
    line-height: 35px;
    color:$c-white;
    border: none;
    background-color: rgba(255,255,255,0.2);
  }
  #searchsubmit {
    border: none;
    width: 40px;
    padding: 0;
    font-size: 1.6rem;
    line-height: 41px;
    color:$c-white;
    border: none;
    background-color: rgba(255,255,255,0.2);
    position: absolute;
    right: 0;
    top: 0;
    &:hover {
      color: #999;
    }
  }
}
@include res_min() {
  #searchform {
    width: auto;
    margin-right: 10px;
    line-height: 37px;
    .search_input {
      display: block;
      width: 280px;
      height: 37px;
      color: $baseColor
      padding: 0 42px 0 10px;
      background-color:$c-white;
      border: 1px solid #ccc;
    }
    #searchsubmit {
      width: auto;
      border: none;
      padding: 0 10px;
      font-size: 1.8rem;
      line-height: 37px;
      color: #555;
      border: none;
      background-color:$c-white;
      position: absolute;
      right: 11px;
      top: 1px;
      &:hover {
        color: #999;
      }
    }
  }
}