// ----------------------------------------------------------------
// * Mixins
// ----------------------------------------------------------------

// トランジション
@mixin transition($trg: all, $time: .1) {
  transition: $trg #{$time + s} linear 0s;
}

//レスポンシブの指定
@mixin res_min($size: $break) {
  @media only screen and (min-width: #{$size + px}) {
    @content;
  }
}
@mixin res_max($size: $break) {
  @media only screen and (max-width: #{$size + px}) {
    @content;
  }
}

//max-width
@mixin maxW($size: $maxsize) {
  width: 100%;
  max-width: calc(#{$size + px} + 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  @include res_min( $break ) {
    max-width: calc(#{$size + px} + 100px);
    padding-left: 50px;
    padding-right: 50px;
  }
}

//flexbox
@mixin flex($wrap: wrap, $justify: flex-start, $alignitems: center){
  display: flex;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $alignitems;
}