// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;
$break2: 1000;
$break3: 1200;
$break4: 1350;
$maxsize: 1200;
$baseFontSize: 15;

$ff-go: 'Noto Sans CJK JP', sans-serif;
$ff-en: 'Oswald', sans-serif;
$ff-num: 'Roboto', sans-serif;
$ff-icon: 'ForkAwesome';

$baseColor: #3B3B3B;
$mainColor: #052F4B;
$mainColorLight: #6DC1C4;
$subColor: #052F4B;
$keyColor: #FF6E46;
$linkColor: $baseColor;
$linkHoverColor: $baseColor;

$gray1: #B5B5B5;
$brown: #40210F;
$red: #FF3C3C;
$orange: #FF9C15;
$green: #59D821;