// ----------------------------------------------------------------
// * Valiables
// ---------------------------------------------------------------
$break: 768;
$break2: 1024;
$maxsize: 932;
$baseFontSize: 15;

$ff-go: 'Noto Sans CJK JP', sans-serif;
$ff-en: 'Nunito', sans-serif;
$ff-num: 'Roboto', sans-serif;
$ff-icon: 'ForkAwesome';

$baseColor: #192153;
$mainColor: #4DA5A8;
$mainColorLight: #6DC1C4;
$keyColor: #FF6E46;
$linkColor: $baseColor;
$linkHoverColor: $baseColor;

$gray1: #B5B5B5;
$brown: #40210F;
$red: #FF3C3C;
$orange: #FF9C15;
$green: #59D821;